[main]
  sharedDirectory = /var/gerrit/high-availability

[peerInfo]
  strategy = static

[peerInfo "static"]
  url = {{ HA_PEER_URL }}

[autoReindex]
  enabled = true
  pollInterval = {{ HA_AUTOREINDEX_POLL_INTERVAL }}

{% if MULTISITE_ENABLED is defined and MULTISITE_ENABLED == "true" %}
[websession]
  synchronize = false
{% elif REFS_DB_ENABLED is defined and REFS_DB_ENABLED == "true" %}
[ref-database]
  enabled = true
{% endif %}