[main]
  sharedDirectory = /var/gerrit/high-availability

[peerInfo]
  strategy = static

[peerInfo "static"]
  url = {{ HA_PEER_URL }}

{% if MULTISITE_ENABLED is defined and MULTISITE_ENABLED == "true" %}
[websession]
  synchronize = false
{% endif %}

[index]
  synchronizeForced = false
