[index]
  maxTries = 6
  retryInterval = 30000
  numStripedLocks = 100

{%- if MULTISITE_GLOBAL_PROJECTS is defined and MULTISITE_GLOBAL_PROJECTS|length %}
{%- set globalProjectsList = MULTISITE_GLOBAL_PROJECTS.split(',') %}
[projects]
 {%- for pattern in globalProjectsList %}
  pattern = {{ pattern }}
 {%- endfor %}
{% endif %}