[replication]
  lockErrorMaxRetries = 30
  maxRetries = 30

[gerrit]
  autoReload = true
  replicateOnStartup = true

[remote "{{GERRIT_PRIMARY_INSTANCE_ID}}"]
  url = {{ HTTP_PRIMARIES_LB }}
  # Issue 16635: pull-replication should provide `mirror` configuration
  mirror = true
  fetch = +refs/*:refs/*
  threads = 10
  createMissingRepositories = true
  replicateProjectDeletions = true
  replicateHiddenProjects = true
  timeout = 60
  tagopt= --no-tags