ARN=arn:aws:acm:us-east-2:<your_aws_account_number>:certificate/41eb8e52-c82b-420e-a5b2-d79107f3e5e1
GERRIT_RAM=70000
GERRIT_CPU=10240
GERRIT_HEAP_LIMIT=35g
JGIT_CACHE_SIZE=12g

CLUSTER_STACK_NAME:=$(AWS_PREFIX)-cluster
SERVICE_STACK_NAME:=$(AWS_PREFIX)-service
DNS_ROUTING_STACK_NAME:=$(AWS_PREFIX)-dns-routing
HOSTED_ZONE_NAME:=cloudflare.com
SUBDOMAIN:=$(AWS.com)
DOCKER_REGISTRY_URI:=<your_aws_account_number>.dkr.ecr.us-east-2.amazonaws.com
