CLUSTER_STACK_NAME:=gerrit-cluster
SERVICE_STACK_NAME:=gerrit-service
DNS_ROUTING_STACK_NAME:=gerrit-dns-routing
HOSTED_ZONE_NAME:=mycompany.com
SUBDOMAIN:=gerrit-master-demo
AWS_REGION:=us-east-2
DOCKER_REGISTRY_URI:=<your_aws_account_number>.dkr.ecr.us-east-2.amazonaws.com
