GEO_LOCATION_ROUTING_STACK_NAME:=$(AWS_PREFIX)-geo-location-routing
HOSTED_ZONE_NAME:=yourcompany.com
HOSTED_ZONE_ID:=Z2O433557GA5W8

GLOBAL_SUBDOMAIN_NAME:=$(AWS_PREFIX)-global.gerrit-demo
DEFAULT_ALIAS_TARGET:=SITE_A

SITE_A_CONTINENT_CODE:="NA"
SITE_A_ALIAS_TARGET:=$(AWS_PREFIX)-master-site-a.gerrit-demo.yourcompany.com

SITE_B_CONTINENT_CODE="EU"
SITE_B_ALIAS_TARGET:=$(AWS_PREFIX)-master-site-b.gerrit-demo.yourcompany.com
